# generic log catcher
*.log

# latex stuff
*.aux
*.lof
*.lot
*.fls
*.out
*.toc

# latex beamer
*.nav
*.snm

# latex indexes
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.glg
*.glo
*.gls
*.brf
*.lol

# latex dvi
*.dvi

# bibtex
*.bbl
*.blg

